<ion-view title="Login">
  <ion-content class="padding" ng-init="setInits()">
      		
     <div class="card" ng-if="error">
          <div class="item item-text-wrap">
             {{error}}
          </div>
      </div>

		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="Email" ng-model="user.email" />
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="password" placeholder="Pass word"  ng-model="user.password"/>
		  </label>
		  <button class="button button-block button-dark activated" ng-click="login()"> 
		     Login 
		  </button>

		  <button class="button button-block button-dark activated" ng-click="facebook()" > 
		     Facebook 
		  </button>

		</div>
</ion-content>
</ion-view>